.logo_section {
    .fas {
        position: absolute;
        top: 30px;
        left: 35px;
        font-size: x-large;

    }
}

.menu_img {
    width: 100%;
    height: 300px;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    padding: 35px 35px 0 20px;


    h1 {
        font-family: shrikhand;
        font-size: 30px;
        margin: 0;
    }
}

.main_menu {
    background-color: rgb(240, 240, 240);
    margin: -70px 0 0 0;
    border-radius: 40px 40px 0 0;
    padding: 0 12px 75px 12px;
    isolation: isolate;

    h2 {
        font-weight: 300;
        font-size: 22px;
        padding: 50px 0 8px 0;
    }

    .green_line {
        width: 15%;
        height: 4px;
        background-color: var(--thirdgreen);
    }
}

.heart_icon {
    display: flex;
    align-items: center;
    font-size: x-large;
}

.menu_card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    height: 70px;
    padding: 15px 23px 0 12px;
    margin: 20px 0 0 0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.065);

    .menu_name {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            font-family: Roboto;
            font-weight: 500;
            font-size: 20px;
        }

        p {
            font-weight: 300;
            font-size: 17px;
        }


    }

    .menu_price {
        display: flex;
        align-items: flex-end;
        font-size: 19px;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        letter-spacing: 1px;
        padding: 0 0 16px 0;
    }

}

.button_box {
    display: flex;
    justify-content: center;
}

.explore_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    width: 50%;
    height: 50px;
    border-radius: 100px;
    background: linear-gradient(#FF79DA, #9256dcd4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.228);
    color: white;
    font-family: 'roboto';
    font-weight: 500;
}