* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'roboto';
}

p {
    font-family: 'roboto';
    font-weight: 200;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-family: 'roboto';
}